# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env
video/

# Virtual environment
.venv/

# VS Code settings
.vscode/

# Other cache and log files
*.log
*.sqlite3
.cache/

# Ignore specific files
test.py 
sample.py
tools/custom_tool.py

prompt_versioning/
knowledge/
tests/